.Rproj.user
login_credentials.yaml
.DS_Store
Meta
doc
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
tests/testthat/Rplots.pdf
inst/doc
/src/*.o
/src/*.o-*
/src/*.d
/src/*.so
_noinclude
index.html
README.html
*.dll
vignettes/*.R
.DS_Store
.Rprofile
^CRAN-RELEASE$
packrat/lib*/
packrat/src/
inst/plus_data/*.rds*
inst/plus_data/*.ics*
